<!DOCTYPE html>
<html lang="en">

<head>
    <title>Read-da-book</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    
</head>

<body>
    {{{ body }}}
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/logic/logic.js"></script>
    <style>
        body {
            background-color: black;            
        }

        h1, h2, p, label {
            color: gold
        }

        table {
            background-color: palegoldenrod;
            color: maroon;
        }

        .rounded-circle {
            width: 100%;
        }
    </style>
</html>