<tr class="table-row">
    <td class="table-first-col">{{id}}. {{title}}</td>
    <td class="table-first-col">by {{author}}</td>
    <td>
        <button class="change-readed hvr-grow" data-id="{{id}}">READ IT!</button>
    </td>
</tr>